
* {
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2fr 6.3fr 1fr;
    grid-template-areas: "header header header header header header"
    "intro intro intro intro profile profile"
    "projects projects projects projects projects projects"
    "footer footer footer footer footer footer";
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #a7a099;
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
}

.space-intro {
    grid-area: space-intro;
}

.brand {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 2;
}

header h1 {
    size: 2em;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2em;
}

img.logo {
    width: 60px;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav ul li {
    display: block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    
    
}

nav ul li a:link {
    text-decoration: none;
    outline: 1px solid none;
    border-radius: 30px;
    transition: outline 0.2s ease-in-out;
    color: #fff;
    padding: 10px;
}


nav ul li a:visited {
    color: #fff;
    outline: 1px solid none;
    border-radius: 30px;
}

nav ul li a:hover {
    outline: 1px solid #fff;
    border-radius: 30px;
    }

nav ul li.social a:hover {
    outline: none;
    border-radius: 30px;
}

nav ul li a:active {
    color: #fff;
    }

nav ul li.social a:link img {
    width: 25px;
    height: 25px;
    transition: outline 0.3s, opacity 0.3s ease-in-out;
    padding: none;
    opacity: 0.7;
    margin-right: -20px;
}

nav ul li.social a:hover img {
    outline: none;
    opacity: 1;
    }


.intro {
    grid-area: intro;
    display: grid;
    background-color: #a7a099;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-basis: content;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
}

.intro h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
    color: #ebebeb; 
}

.intro span {
    font-weight: 700;
    border-bottom: 3px solid #f2f2f2;
    color:#fcde8b;
}

.intro button.cv {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3vw;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    margin-top: 20px;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.4s ease-in-out;
  }
  
  
  .intro button.cv:hover  {
    background-color: #ffffff;
    color: #a7a099;
  }


  .intro button.hireme {
    appearance: none;
    background-color: #4b1b41;
    border: 2px solid #4b1b41;
    border-radius: 3vw;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
    min-width: 0;
    outline: none;
    margin-top: 20px;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.2s ease-in-out;
  }
  
  
  .intro button.hireme:hover  {
    background-color: #663c5b;
    border: 2px solid #663c5b;

    
  }


.profile {
    grid-area: profile;
    display: flex;
    flex-wrap: wrap;
    flex-basis: fit-content;
    background-color: #a7a099;
    align-content: end;
    align-items: end;
    justify-content: start;
    justify-items: start;
}

.profile img {
    object-fit: contain;
    position: relative;
    width: 25vw;
    padding-right: 40px;

}


.projects {
background-color:rgb(253, 250, 245);
grid-area: projects;
}

footer {
    background-color:bisque;
    grid-area: footer;
}




